<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} TKD [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
        <!--&lt;!&ndash;<file>/tmp/test.log</file>&ndash;&gt;-->
        <!--<file>target/b.log</file>-->
        <!--<append>true</append>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} TKD [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<root level="INFO">-->
        <!--<appender-ref ref="STDOUT"/>-->
        <!--<appender-ref ref="FILE"/>-->
    <!--</root>-->
    <!--<logger name="scala.com.cmsz" level="INFO" />-->
<!--</configuration>-->